.background-img {
    background-image: url('https://assets.entrepreneur.com/content/3x2/2000/1657784590-Myproject380.jpg');
    background-size: cover;
    transform: scaleX(-1);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: relative;
    height: 100vh;
}

.WelcomePage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-heading {
    font-size: 5rem;
    color: var(--accent-color);
    text-align: center;
}

.welcome-card {
    background-color: #102e47;
    background-image: linear-gradient(270deg, #020505 0%, #113045 74%);
    border: 0.1rem solid #75fbfd;
}

.btn-meta {
    background-color: #4699db;
    color: #0d2436;
    font-weight: 700;
    font-size: 1.1rem;
    border: 0.1rem solid #4699db;
    padding: 0.9rem;
}

.btn-meta:hover {
    background-color: #0d2436;
    color: #4699db;
    border: 0.1rem solid #4699db;
}